h1{
    color: green;
    font-family: sans-serif;

}

p{
    color: coral;
    font-family: 'Times New Roman', Times, serif;
}

ul{
    list-style-image: url('images/pointer-icon.png'); 
}
ol{
    list-style-type: upper-roman;
}

a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
}

a:hover{
    background-color: aqua;
    color: #ffffff;

}